<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



    <title>RateMyAnime Main Page</title>
    <style>
      body {
        background-color: #eee;
        font-family: "Trebuchet MS", Helvetica, sans-serif;
      }

      .theme-green-bg {
        background-color: #2d8659;
      }

      .theme-green-color {
        color: #2d8659;
      }

      .cate-menu .active {
        color: #2d8659;
        border-bottom: 2px solid #2d8659;
      }



    </style>
  </head>
  

  <body>


  <nav class="navbar navbar-expand-lg theme-green-bg">
    <a class="navbar-brand text-white" href="/anime/">
      <i class="fas fa-lg fa-paw text-white pl-3 pr-2"></i>{{name}}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mr-5">
        <li class="nav-item mr-5">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control rounded-0 border-white" type="search" placeholder="Search.." aria-label="Search">
            <button class="btn my-2 my-sm-0 text-white rounded-0 theme-green-bg" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
        </li>
        <li class="nav-item active mr-3">
          <a class="nav-link text-white" href="/anime/rank">Ranking</a>
        </li>

        <li class="nav-item mr-3">
          <a class="nav-link text-white" href="#">News</a>
        </li>

        <li class="nav-item mr-3">
          <a class="nav-link text-white" href="#">About</a>
        </li>

        <li class="nav-item mr-3">
          <a class="nav-link text-white" href="#">Contact</a>
        </li>

      </ul>
    </div>
  </nav>


  <div>
  	<h2><?php echo "hello";?></h2>
  </div>



<footer class="page-footer font-small theme-green-bg darken-8 text-center">

  <div class="container-fluid">
    <!-- Grid row-->
    <div class="row mt-5">
      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 small">

          <a class="fb-ic text-white text-decoration-none" href="#">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 fa-2x"> </i>
          </a>
          <a class="tw-ic text-white text-decoration-none" href="#">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 fa-2x"> </i>
          </a>
          <a class="gplus-ic text-white text-decoration-none" href="#">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 fa-2x"> </i>
          </a>
          <a class="li-ic text-white text-decoration-none" href="#">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 fa-2x"> </i>
          </a>
          <a class="ins-ic text-white text-decoration-none" href="#">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 fa-2x"> </i>
          </a>
          <a class="pin-ic text-white text-decoration-none" href="#">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>

        </div>
      </div>

    </div>
  </div>

  <div class="footer-copyright text-center py-3 small">Copyright © 2018 All Rights Reserved.</div>
</footer>





<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>